body {
background-color: background-color: #f3e8ff;

font-family: Arial, sans-serif;
text-align: center;
}

h1 {
color: #6a1b9a;
}

p {
color: #444;
}

.calendar {
background-color: white;
padding: 20px;
margin: 20px auto;
border-radius: 10px;
max-width: 600px;
border: 2px solid #6a1b9a;
}

.calendar h2 {
color: lightgreen;
}

.days {
display: grid;
grid-template-columns: repeat(7, 1fr);
margin-top: 20px;
}

.days span {
font-weight: bold;
padding: 10px;
background-color: #6a1b9a;
color: white;
}

.dates {
display: grid;
grid-template-columns: repeat(7, 1fr);
}

.dates span {
padding: 15px;
min-height: 30px;
border: 1px solid #ddd;
}

.dates span:hover {
background-color: #f3e8ff;
cursor: pointer;
}