<!DOCTYPE html> <html lang="en"> <head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Blessing Calendar</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head> <body>

<h1>Blessing Calendar</h1>

<p>Welcome to my online calendar!</p>

<div class="calendar">

    <h2>My Calendar</h2>

    <h3>{{ month_name }} {{ year }}</h3>

    <div class="days">
        <span>Sun</span>
        <span>Mon</span>
        <span>Tue</span>
        <span>Wed</span>
        <span>Thu</span>
        <span>Fri</span>
        <span>Sat</span>
    </div>

    {% for week in month_days %}

        <div class="dates">

            {% for day in week %}

                {% if day == 0 %}
                    <span></span>
                {% else %}
                    <span>{{ day }}</span>
                {% endif %}

            {% endfor %}

        </div>

    {% endfor %}

</div>

</body> </html>